<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Current Read</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  @if (currentBook) {
    <app-current-read [currentBook]="currentBook"></app-current-read>

    <h1 class="ion-text-center">
      You're currently reading: 
      <br>
      <strong class="ion-text-primary">{{ currentBook.title }}</strong>
    </h1>
    <app-timer-feature 
      [bookId]="currentBook.id" 
      [currentPage]="currentBook.current_page"
      (progressUpdated)="handleProgressUpdate()">
    </app-timer-feature>

    <div class="ion-padding">
      
      <ion-button expand="block" fill="outline" color="medium" (click)="openReviewModal()" class="ion-margin-bottom">
        <ion-icon name="checkbox-outline" slot="start"></ion-icon>
        DONE! (Mark as Read & Review)
      </ion-button>

    </div>
  } @else {
    <ion-card class="ion-text-center ion-margin">
      <ion-card-header>
        <ion-card-title>Start Your Next Book!</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Go to the Library tab and set a book status to "Currently reading".
      </ion-card-content>
    </ion-card>
  }

</ion-content>